<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>




<div style="background-image:url(https://studentik.online/mail_letters/bg1.png);background-position: center;
    background-repeat: no-repeat;
    background-size: cover;">
    <div style="height:20px">
        &nbsp;
    </div>
    <div style="background:#f5f5f5;background-color:#f5f5f5;Margin:0px auto;border-radius:5px 5px 0 0;max-width:600px">
        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
               style="background-color: #ffffff;
    width: 100%;
    border-radius: 5px 5px 0 0;
    border-bottom: 4px solid #c1f72652;">
            <tbody>
            <tr>
                <td style="direction:ltr;font-size:0px;padding:20px 0;text-align:center;vertical-align:top">
                    <div class="m_2493251215983378131mj-column-per-100"
                         style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                        <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                               style="vertical-align:top" width="100%">
                            <tbody>
                            <tr>
                                <td align="left"
                                    style="font-size:0px;padding:10px 25px;word-break:break-word">
                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                           style="border-collapse:collapse;border-spacing:0px">
                                        <tbody>
                                        <tr>
                                            <td style="width:200px">
                                                <a href="https://studentik.online/"
                                                   style="color:#22638f;text-decoration:none"
                                                   target="_blank"
                                                   data-saferedirecturl="https://studentik.online/">
                                                    <img height="auto"
                                                         alt="Studentik.online"
                                                         src="https://studentik.online/mail_letters/logoo.png"
                                                         style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%"
                                                         width="200" class="CToWUd">
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="background:#ffffff;background-color:#ffffff;Margin:0px auto;max-width:600px">
        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
               style="background:#ffffff;background-color:#ffffff;width:100%">
            <tbody>
            <tr>
                <td style="direction:ltr;font-size:0px;padding:20px 0;text-align:center;vertical-align:top">
                    <div class="m_2493251215983378131mj-column-per-100"
                         style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                        <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                               style="vertical-align:top" width="100%">
                            <tbody>
                            <tr>
                                <td align="left"
                                    style="font-size:0px;padding:5px 28px;word-break:break-word">
                                    <div style="font-family:'PT Sans','Helvetica Neue',Arial,sans-serif;font-size:16px;line-height:160%;text-align:left;color:#3d424d">
                                        Благодарим за регистрацию на сайте
                                        <a href="https://studentik.online/"
                                           style="color:#22638f;text-decoration:none" target="_blank"
                                           data-saferedirecturl="https://studentik.online/">Studentik.online</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" style="font-size:0px;word-break:break-word">
                                    <div style="height:20px">
                                        &nbsp;
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td align="left"
                                    style="font-size:0px;padding:5px 28px;word-break:break-word">
                                    <div style="font-family:'PT Sans','Helvetica Neue',Arial,sans-serif;font-size:16px;line-height:160%;text-align:left;color:#3d424d">
                                        Ваш аккаунт создан и Вы можете войти, используя свой логин и пароль
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td align="left"
                                    style="padding:10px 25px;">

                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                           style="border-collapse:separate;line-height:100%">
                                        <tbody>
                                        <tr>
                                            <td align="center" role="presentation" valign="middle">
                                                {% if password %}
                                                <p style="
                                                    margin: 0 0 7px 0;
                                                    padding: 10px 15px;
                                                    background: #b7e33547;
                                                    border-radius: 3px;
                                                    font-size: 14px;text-align: left;
                                                    font-family: sans-serif;font-weight: 600;
                                                ">логин: <span style="    font-size: 16px;">{{ login }}</span> </p>
                                                                                                <p style="
                                                    margin: 0;
                                                    padding: 10px 15px;
                                                    background: #b7e33547;
                                                    border-radius: 3px;
                                                    font-size: 14px;text-align: left;
                                                    font-family: sans-serif;font-weight: 600;
                                                ">пароль: <span style="    font-size: 16px;">{{ password }}</span> </p>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="left"
                                    style="font-size:0px;padding:10px 25px;word-break:break-word">

                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                           style="border-collapse:separate;line-height:100%">
                                        <tbody>
                                        <tr>
                                            <td align="center" role="presentation" valign="middle">
                                                <a href="{{ approval_link }}"
                                                   style="display: inline-block;
    margin: 0;
    background: #1CB7AD;
    color: #ffffff;
    font-family: 'PT Sans','Helvetica Neue',Arial,sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 120%;
    text-decoration: none;
    text-transform: none;
    padding: 10px 25px;
    border: none;
    border-radius: 32px;"
                                                   target="_blank"
                                                   data-saferedirecturl="{{ approval_link }}">
                                                    &nbsp; Перейти на сайт &nbsp;
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" style="font-size:0px;word-break:break-word">
                                    <div style="height:20px">
                                        &nbsp;
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td align="left"
                                    style="font-size:0px;padding:5px 28px;word-break:break-word">

                                    <div style="font-family:'PT Sans','Helvetica Neue',Arial,sans-serif;font-size:12px;line-height:160%;text-align:left;color:#999999">
                                        Если вы не регистрировались на сайте
                                        <a href="https://studentik.online/"
                                           style="color:#22638f;text-decoration:none" target="_blank"
                                           data-saferedirecturl="https://studentik.online/">Studentik.online</a>,
                                        просто проигнорируйте это письмо.
                                    </div>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="background:#f5f5f5;background-color:#f5f5f5;Margin:0px auto;border-radius:0 0 5px 5px;max-width:600px">
        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
               style="    background: #f5f5f5;
    background-color: #ffffff;
    width: 100%;
    border-radius: 0 0 5px 5px;
    border-top: 4px solid #c1f72652;">
            <tbody>
            <tr>
                <td style="direction:ltr;font-size:0px;padding:20px 0;text-align:center;vertical-align:top">
                    <div class="m_2493251215983378131mj-column-per-100"
                         style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">

                        <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                               style="vertical-align:top" width="100%">
                            <tbody>
                            <tr>
                                <td align="left"
                                    style="font-size:0px;padding:5px 28px;word-break:break-word">
                                    <div style="font-family:'PT Sans','Helvetica Neue',Arial,sans-serif;font-size:16px;line-height:160%;text-align:left;color:#999999">
                                        2020-
                                        2023 <a href="https://studentik.online/"
                                                style="color:#22638f;text-decoration:none" target="_blank"
                                                data-saferedirecturl="https://studentik.online/">Studentik.online</a>

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td align="left"
                                    style="font-size:0px;padding:5px 28px;word-break:break-word">

                                    <table align="left" border="0" cellpadding="0" cellspacing="0"
                                           role="presentation" style="float:none;display: block;">
                                        <tbody>
                                        <tr>
                                            <td style="padding:0">
                                                <table border="0" cellpadding="0" cellspacing="0"
                                                       role="presentation"
                                                       style="border-radius:3px;width:0">
                                                    <tbody>
                                                    <tr>
                                                        <td style="font-size:0;height:0;vertical-align:middle;width:0">

                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td style="vertical-align:middle">
                                                <a href="https://studentik.online/contacts"
                                                   style="color:#999999;font-size:16px;font-family:'PT Sans','Helvetica Neue',Arial,sans-serif;line-height:26px;text-decoration:none"
                                                   target="_blank"
                                                   data-saferedirecturl="https://studentik.online/">
                                                    Мы в социальных сетях
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table align="left" border="0" cellpadding="0" cellspacing="0"
                                           role="presentation" style="float:none;display:inline-table">
                                        <tbody>
                                        <tr>
                                            <td style="padding:4px 4px 4px 0px">
                                                <table border="0" cellpadding="0" cellspacing="0"
                                                       role="presentation"
                                                       style="border-radius:3px;width:25px">
                                                    <tbody>
                                                    <tr>
                                                        <td style="font-size:0;height:25px;vertical-align:middle;width:25px">
                                                            <a href="https://www.instagram.com/studentik.online/"
                                                               style="color:#22638f;text-decoration:none"
                                                               target="_blank"
                                                               data-saferedirecturl="https://www.instagram.com/studentik.online/">
                                                                <img height="25"
                                                                     alt="Instagram"
                                                                     src="https://studentik.online/mail_letters/insta.png"
                                                                     style="border-radius:3px" width="25"
                                                                     class="CToWUd">
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table align="left" border="0" cellpadding="0" cellspacing="0"
                                           role="presentation" style="float:none;display:inline-table">
                                        <tbody>
                                        <tr>
                                            <td style="padding:4px">
                                                <table border="0" cellpadding="0" cellspacing="0"
                                                       role="presentation"
                                                       style="border-radius:3px;width:25px">
                                                    <tbody>
                                                    <tr>
                                                        <td style="font-size:0;height:25px;vertical-align:middle;width:25px">
                                                            <a href="https://vk.com/studentik.online"
                                                               style="color:#22638f;text-decoration:none"
                                                               target="_blank"
                                                               data-saferedirecturl="https://vk.com/studentik.online">
                                                                <img height="25"
                                                                     alt="VK.com"
                                                                     src="https://studentik.online/mail_letters/vk.png"
                                                                     style="border-radius:3px" width="25"
                                                                     class="CToWUd">
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table align="left" border="0" cellpadding="0" cellspacing="0"
                                           role="presentation" style="float:none;display:inline-table">
                                        <tbody>
                                        <tr>
                                            <td style="padding:4px">
                                                <table border="0" cellpadding="0" cellspacing="0"
                                                       role="presentation"
                                                       style="border-radius:3px;width:25px">
                                                    <tbody>
                                                    <tr>
                                                        <td style="font-size:0;height:25px;vertical-align:middle;width:25px">
                                                            <a href="https://t.me/studentikonline"
                                                               style="color:#22638f;text-decoration:none"
                                                               target="_blank"
                                                               data-saferedirecturl="https://t.me/studentikonline">
                                                                <img height="25"
                                                                     alt="Telegram"
                                                                     src="https://studentik.online/mail_letters/tg.png"
                                                                     style="border-radius:3px" width="25"
                                                                     class="CToWUd">
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="background:#eefaff;
                background-color:#eefaff;
                Margin:0px auto;
                max-width:600px">
        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
               style="background:#eefaff;background-color:#eefaff;width:100%">
            <tbody>
            <tr>
                <td style="direction:ltr;font-size:0px;padding:20px 0;padding-top:5px;text-align:center;vertical-align:top">
                    <div class="m_2493251215983378131mj-column-per-100"
                         style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                        <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                               style="vertical-align:top" width="100%">
                            <tbody>
                            <tr>
                                <td align="left"
                                    style="font-size:0px;padding:5px 28px;padding-top:5px;padding-bottom:5px;word-break:break-word">
                                    <div style="font-family:'PT Sans','Helvetica Neue',Arial,sans-serif;font-size:12px;line-height:160%;text-align:left;color:#999999">

                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="yj6qo"></div>
        <div class="adL">
        </div>
    </div>
    <div class="adL">
    </div>
    <div style="height:20px" class="adL">
        &nbsp;
    </div>
    <div class="adL">
    </div>
</div>

</body>
</html>
