{{ header }}
<div class="wrap_content">
    {{ content_top }}
    <div class="container">
        <div class="row">
           <div class="col-12">
               <div class="nevol">
                   <h1>Студенческие работы на заказ</h1>
               </div>
           </div>
            <div class="clearfix narusder">
                <div class="col-3">
                    <div class="wrap_stert">
                        <div class="img_wrap">
                            <img src="/image/uslug/048-exam.svg" alt="">
                        </div>
                        <h4>Курсовая</h4>
                        <p>От <span>1000 ₽</span></p>
                        <a href="https://studentik.online/new-order/kursovaya-rabota">Заказать</a>
                    </div>
                </div>
                <div class="col-3">
                    <div class="wrap_stert">
                        <div class="img_wrap">
                            <img src="/image/uslug/008-homework.svg" alt="">
                        </div>
                        <h4>Контрольная </h4>
                        <p>От <span>300 ₽</span></p>
                        <a href="https://studentik.online/new-order/kontrolnaya-rabota">Заказать</a>
                    </div>
                </div>
                <div class="col-3">
                    <div class="wrap_stert">
                        <div class="img_wrap">
                            <img src="/image/uslug/001-knowledge_referat.webp" alt="">
                        </div>
                        <h4>Реферат </h4>
                        <p>От <span>400 ₽</span></p>
                        <a href="https://studentik.online/new-order/referat">Заказать</a>
                    </div>
                </div>

                <div class="col-3">
                    <div class="wrap_stert">
                        <div class="img_wrap">
                            <img src="/image/uslug/033-maths.svg" alt="">
                        </div>
                        <h4>Задача </h4>
                        <p>От <span>50 ₽</span></p>
                        <a href="https://studentik.online/new-order/zadacha">Заказать</a>
                    </div>
                </div>
                <div class="col-3">
                    <div class="wrap_stert">
                        <div class="img_wrap">
                            <img src="/image/uslug/011-chemistry.svg" alt="">
                        </div>
                        <h4>Лабораторная </h4>
                        <p>От <span>500 ₽</span></p>
                        <a href="https://studentik.online/new-order/laboratornaya-rabota">Заказать</a>
                    </div>
                </div>
                <div class="col-3">
                    <div class="wrap_stert">
                        <div class="img_wrap">
                            <img src="/image/uslug/015-Right triangle.svg" alt="">
                        </div>
                        <h4>Чертеж </h4>
                        <p>От <span>200 ₽</span></p>
                        <a href="https://studentik.online/new-order/chertezh">Заказать</a>
                    </div>
                </div>
                <div class="col-3">
                    <div class="wrap_stert">
                        <div class="img_wrap">
                            <img src="/image/uslug/005-diploma.svg" alt="">
                        </div>
                        <h4>Отчёт по практике</h4>
                        <p>От <span>800 ₽</span></p>
                        <a href="https://studentik.online/new-order/otchet-po-praktike">Заказать</a>
                    </div>
                </div>
                <div class="col-3">
                    <div class="wrap_stert">
                        <div class="img_wrap">
                            <img src="/image/uslug/027-mortarboard.svg" alt="">
                        </div>
                        <h4>Дипломная</h4>
                        <p>От <span>5000 ₽</span></p>
                        <a href="https://studentik.online/new-order/diplomnaya-rabota">Заказать</a>
                    </div>
                </div>

                <div class="col-3">
                    <div class="wrap_stert">
                        <div class="img_wrap">
                            <img src="/image/uslug/038-calendar.svg" alt="">
                        </div>
                        <h4>Бизнес-план</h4>
                        <p>От <span>500 ₽</span></p>
                        <a href="https://studentik.online/new-order/biznes-plan">Заказать</a>
                    </div>
                </div>
                <div class="col-3">
                    <div class="wrap_stert">
                        <div class="img_wrap">
                            <img src="/image/uslug/043-calculator.svg" alt="">
                        </div>
                        <h4>РГР</h4>
                        <p>От <span>700 ₽</span></p>
                        <a href="https://studentik.online/new-order/rgr">Заказать</a>
                    </div>
                </div>
                <div class="col-3">
                    <div class="wrap_stert">
                        <div class="img_wrap">
                            <img src="/image/uslug/041-theatre.svg" alt="">
                        </div>
                        <h4>Рецензия</h4>
                        <p>От <span>500 ₽</span></p>
                        <a href="https://studentik.online/new-order/recenziya">Заказать</a>
                    </div>
                </div>
                <div class="col-3">
                    <div class="wrap_stert">
                        <div class="img_wrap">
                            <img src="/image/uslug/f45.webp" alt="">
                        </div>
                        <h4>Антиплагиат</h4>
                        <p>От <span>100 ₽</span></p>
                        <a href="https://studentik.online/new-order/antiplagiat">Заказать</a>
                    </div>
                </div>

                <div class="col-3">
                    <div class="wrap_stert">
                        <div class="img_wrap">
                            <img src="/image/uslug/009-mark.svg" alt="">
                        </div>
                        <h4>Тест </h4>
                        <p>От <span>300 ₽</span></p>
                         <a href="https://studentik.online/new-order/reshenie-testov">Заказать</a>
                    </div>
                </div>
                <div class="col-3">
                    <div class="wrap_stert">
                        <div class="img_wrap">
                            <img src="/image/uslug/017-pencil.svg" alt="">
                        </div>
                        <h4>Эссе </h4>
                        <p>От <span>500 ₽</span></p>
                         <a href="https://studentik.online/new-order/esse">Заказать</a>
                    </div>
                </div>
                <div class="col-3">
                    <div class="wrap_stert">
                        <div class="img_wrap">
                            <img src="/image/uslug/044-language.svg" alt="">
                        </div>
                        <h4>Перевод </h4>
                        <p>От <span>300 ₽</span></p>
                         <a href="https://studentik.online/new-order/perevod-teksta">Заказать</a>
                    </div>
                </div>
                <div class="col-3">
                    <div class="wrap_stert">
                        <div class="img_wrap">
                            <img src="/image/uslug/049-book.svg" alt="">
                        </div>
                        <h4>ВКР</h4>
                        <p>От <span>5000 ₽</span></p>
                         <a href="https://studentik.online/new-order/vkr">Заказать</a>
                    </div>
                </div>
                <div class="col-3">
                    <div class="wrap_stert">
                        <div class="img_wrap">
                            <img src="/image/uslug/040-presentation.svg" alt="">
                        </div>
                        <h4>Презентация </h4>
                        <p>От <span>500 ₽</span></p>
                         <a href="https://studentik.online/new-order/prezentacia">Заказать</a>
                    </div>
                </div>
                <div class="col-3">
                    <div class="wrap_stert">
                        <div class="img_wrap">
                            <img src="/image/uslug/018-pen.svg" alt="">
                        </div>
                        <h4>Статья </h4>
                        <p>От <span>700 ₽</span></p>
                         <a href="https://studentik.online/new-order/statiya">Заказать</a>
                    </div>
                </div>
                <div class="col-3">
                    <div class="wrap_stert">
                        <div class="img_wrap">
                            <img src="/image/uslug/012-computer.svg" alt="">
                        </div>
                        <h4>Маркетинговое исследование</h4>
                        <p>От <span>500 ₽</span></p>
                         <a href="https://studentik.online/new-order/marketingovoe-issledovanie">Заказать</a>
                    </div>
                </div>
                <div class="col-3">
                    <div class="wrap_stert">
                        <div class="img_wrap">
                            <img src="/image/uslug/039-question.svg" alt="">
                        </div>
                        <h4>Доклад</h4>
                        <p>От <span>500 ₽</span></p>
                         <a href="https://studentik.online/new-order/doklad">Заказать</a>
                    </div>
                </div>
            </div>


        </div>
    </div>


</div>
{{ footer }}

















